black
distutils
flake8

fuzzymatch-records @ git+https://github.com/rdmolony/fuzzymatch-records
geopandas
icontract
ipdb

ipython
mypy
numpy
pandas
pandas-vet
prefect
prefect-toolkit @ git+https://github.com/rdmolony/prefect-toolkit
pyicontract-lint
pytest
wemake-python-styleguide
