pandas
numpy
geopandas
prefect
icontract

ipython
ipdb
pandas-vet
pyicontract-lint
wemake-python-styleguide
black
mypy
flake8
pytest

fuzzymatch-records @ git+https://github.com/rdmolony/fuzzymatch-records
prefect-toolkit @ git+https://github.com/rdmolony/prefect-toolkit